.column {
  height: 100%;
  float: left;
}


.c20 {
  width: 22%;
}

.c80 {
  width: 78%;
}

.c50 {
  width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

li p {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li p:hover {
  background-color: #555;
  color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

// Does work in browser inspect, not in code
mat-typography  {
  margin: 0 0 0 0;
}
