<div style="text-align: center">
  <h2>New roadtax</h2>
</div>
<br>
<div fxLayout="row" fxLayoutAlign="center">
  <div></div>
  <div fxFlex="60">
    <form class="example-form" fxLayout="row" fxLayoutAlign="space-evenly center">
      <mat-form-field >
        <mat-label>Engine type</mat-label>
        <input name="engine-input" matInput [(ngModel)]="roadtax.roadType">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Tax per Kilometer (GBP)</mat-label>
        <input name="kilo-input" matInput [(ngModel)]="roadtax.surTax">
      </mat-form-field>
    </form>
  </div>
  <div>
    <button mat-raised-button type="submit" color="primary" (click)="createRoadTax()"> Create </button>
  </div>
</div>
